 
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container aboutUs">
        <div class="row">
          <div class="intro-text">
            <h1>Organic Bytes</h1>
            <p>For Orders: +91-9876543210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


 
	   
<!-- aboutUS Section -->
<div id="aboutUS" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>About US</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="aboutUS-item">
          
          <p class="sspl" style="">ORGANIC BYTES an unique conceptual chain stores, selling INDIAN Traditional Munch.  We offer a wide range of products with Organic & Healthy ingredients which have high Medical value accompanied with Taste.  

Hushaar Private Ltd.(HPL) has launched  “Organic Bytes”  with a purpose of enhancing well being of fast food lovers deriving its products from Ancient recipes of Ayurveda.

The main aim of ‘ MASALAS’ is to break the Myth “Fast Food = Unhealthy Food”.  Our products of Food & Beverages not only provides a wide platter to Desi food lovers but also will improve their overall wellbeing.  

Key attraction to the food lovers is the freshly prepared over-the-counter products which are consistent in Quality, Quantity and Taste across the outlets.
 </p>
        </div>
      </div>
      
     
    </div>
  </div>
</div>



	   
<!-- Vision Section -->
<div id="ourVision" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Vision</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="ourVision-item">
          
          <p class="sspl" style="">To be a leading integrated Organic food manufacturer and a service provider with key focus on providing quality products and service to the customers.

Increase the accessibility of Organic food in a unique way at your doorstep.

Commitment to provide an unique Traditional Indian Munch with an uniform taste with consistent Quality and Quantity.</p>
        </div>
      </div>
      
     
    </div>
  </div>
</div>


 
	   
<!-- Business Section -->
<div id="aboutUS" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Business Model</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 text-left">
        <div class="aboutUS-item">
		
		
 <p class="sspl">We sell our products in the best hygienic conditions,Sales of the products is monitored by mobile app and the inventory is in complete control of the Hubs and it’s a clean cashless transaction with complete Digitized billing system. sales are done in two ways direct & Door delivery sales ,</p> 

<h5 style='display:inline'>POD SALE: </h5><p class="sspl" style='display:inline'> We have planned for 7 POD’s for sale of Organic Bytes  from Launch in the month of May for the First 4 Quarter. With 10% increase on sale month on month and 15% in the second year. </p><br/>

<h5 style='display:inline'>METRO STALL:</h5><p class="sspl" style='display:inline'>  We have planned for two metro stations from Q2, these stations are handed over only in Q2& Q4</p> <br/>

<h5 style='display:inline'>CORPORATES SALE:</h5>
<p class="sspl" style='display:inline'>  We have planned for two corporate stalls for Q2 & Q4.</p>  <br/>

<h5 style='display:inline'>E&E SALE:</h5><p class="sspl" style='display:inline'>  We have planned for four Events & Exhibitions in the year starting from Q2 & in Q4,We have planned campaign to promote our products through various means, including a Mobile app on both platforms i.e. Android & iOS. Which will promote business through various offers & Schemes.

</p>
        </div>
      </div>
      
     
    </div>
  </div>
</div>



<!-- Franchise Section -->
<div id="ourVision" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Franchise  Model</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 text-left">
        <div class="ourVision-item">
		 
 <p class="sspl">Masalas – Organic Bytes is a registered Trademark of Hushaar Private limited, has developed an app on its own with a foolproof Inventory control, sales and billing with complete business analytics & intelligence to have control on business transactions.
<br/></p> 
 <p class="sspl">Organic Bytes is a unique concept with a complete Sales/ Franchise model with low Investment and fast ROI.</p>

<h5 style='display:inline'>POD SALE: </h5>
<p class="sspl" style='display:inline'> If the sales partner reaches the target sales then the Franchise of pod is given  to sales partners. </p><br/>

<h5 style='display:inline'>AREA :</h5>
<p class="sspl" style='display:inline'>  Area wise franchise , If there is increase of sales in particular Area,Franchise of Area can be given & can increase the pods by investing.</p> <br/>

<h5 style='display:inline'> Location :</h5>
<p class="sspl" style='display:inline'> The Sales partners can take franchise of particular location & can increase the pods  in that particular location.</p>  <br/>

<h5 style='display:inline'>State:</h5>
<p class="sspl" style='display:inline'>   To improve our business in other states we give franchise state wise , the sales partners can take particular state & can place pods  in that different location.</p>
        </div>
      </div>
    </div>
  </div>
</div>


 
 