	   
<!-- aboutUS Section -->
<div id="aboutUS" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Why Munch ?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="aboutUS-item">
          
          <p class="sspl"> In an age old war between unhealthy and healthy food, unhealthy food has always won because of its pleasure to taste buds, variety, temptation and craving. On the other side, as its name explains, unhealthy food or junk foods are high in calories which lead to weight gain, lacks nutritional, contain added preservatives and so on. As a solution to this, Organic bytes has come up with a platter of Munches which are not only a treat to taste buds, but also are very healthy. </p>
		  <p class="sspl">Healthy MunchHealthy Munch and Just MunchJust Munch cater to different types of food lovers. A wide range of fresh, healthy organic and low calorific snacks find sigmaessays essay writer for your best essay writing services activity are offered. Each Munch is made to provide a balanced nutrition, a sensible mix of carbohydrates, proteins, fiber and so on. </p>
		 
		 <ul class="custom-bullet text-left">
		<li> <a href="/"> 100% Vegetarian Munches made with Fresh Organic Veggies.</a></li>
		<li> <a href="">Each Munch has an unique recipe derived with a blend of age old traditions and current day taste requirements.</a></li>
		<li> <a href="">Every ingredient included in our Munch has an unique identity and specific health benefit.</a></li>
		<li> <a href="">Our Munches  are not only mouth-watering but also help detoxify and reduce obesity. </a></li>
		<li> <a href="">Freshly prepared over the counter, based on the customer’s taste.</a></li>
		
		</ul>
		

        </div>
      </div>
      
     
    </div>
  </div>
</div>

