
<!-- Model
    ==========================================-->
<div id="modal-content" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="padding-left:  45px; background-color: #3f3e3700;">
           
            <div class="modal-body container text-center">
                   
                
                        <div class="col-sm-5">
                            <div class="items">
						 <button type="button" class="close" data-dismiss="modal">×</button>
                                <div class="discount">
                                    <span>10% <br> Off</span>
                                </div>
                                <div class="profile">
                                    <img src="assets/img/dish-d.png" alt="dish name" class="img-responsive">
                                </div>
                                <div class="text">
                                    <h4>Dish Name</h4>
                                    <p class="after text-primary text-large">30.00$</p>
                                    <p class="before text-muted text-large">50.00$</p>
                                </div>
                            </div>
                        </div>
			</div>
        </div>
    </div>
</div>

<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
   <a class="navbar-brand page-scroll " href="#page-top"> <img alt="Logo" src="assets/img/Organic1.png"></a>
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features" class="page-scroll">Specials</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#team" class="page-scroll">Why Munch ?</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
		<li><a href="#" class="btn navbar-btn btn-unique hidden-sm hidden-xs" id="open-reservation"> Login</a></li>
         
	</ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Organic Bytes</h1>
            <p>For Orders: +91-9876543210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


     <!-- moadal booking form -->
            <div class="reservation-overlay hidden-sm hidden-xs">
                <section id="reservation-modal" class="reservation-modal">
                    <div id="close"><i class="icon-close"></i></div> 
					<div class="container">
                        <div class="row">
                            <div class="form-holder col-md-12 text-center">
                                <h2>Login</h2>
                                 <form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-2 control-label">User Name</label>
										<div class="col-sm-10">
										<input class="form-control" id="focusedInput" type="text" placeholder="Click to focus...">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Password</label>
										<div class="col-sm-10">
										<input class="form-control" id="focusedInput" type="text" placeholder="Click to focus...">
										</div>
									</div>
									<div class="form-group">
										<button class="btn btn-info">Login</button> 
									</div> 
								</form> 
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- end modal booking form -->
       

<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Seasonal Specials</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Corn Masala</h3>
          <img src="assets/img/healthy munch/5.jpg" class="img-responsive" alt="">
          <p class="sspl">A Spicy and Sweet all time much, Corn masala is super healthy, contains vitamin B6 and all the good acids necessary for body.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Sprouts Masala</h3>
          <img src="assets/img/healthy munch/3.jpg" class="img-responsive" alt="">
          <p class="sspl">Sprouts-masala is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Tomato Masala</h3>
          <img src="assets/img/healthy munch/4.jpg" class="img-responsive" alt="">
          <p class="sspl">opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our Story</h2>
          </div>
          <p class="abtContent">A Company Incorporated in 2016, to promote various health products including Food & Beverage range of items, have launched ‘ORGANIC BYTES’ a conceptual chain of stores, selling INDIAN Traditional Munch.</p>
          <p class="menu-item-description abtContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
	 
		<ul class="custom-bullet">
		<li> <a href="">Promoters</a></li>
		<li> <a href="">Business Process</a></li>
		<li> <a href="">Franchise Model</a></li>
		<li> <a href="">R&D </a></li>
		
		</ul>
			
		</div>
      </div>
    </div>
  </div>
</div>
 
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Just Munch</h2>
          <div class="menu-item">
		  <div class="col-xs-3">
		  <img src="assets/img/dish-d1.png" alt="dish name" class="img-responsive">
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Cashew Munch</div>
            <div class="menu-item-price">₹ 100</div>
            <div class="menu-item-description">Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.</div>
          </div>
		  </div>
          <div class="menu-item">
		  <div class="col-xs-3">
		  <img src="assets/img/dish-d1.png" alt="dish name" class="img-responsive">
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Peanut Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Loaded with protein and fiber rich roasted peanuts, this spicy yet tangy masala is just what you need to give your taste buds a treat.</div>
          </div>
		  </div>
          <div class="menu-item">
		  <div class="col-xs-3">
		  <img src="assets/img/dish-d1.png" alt="dish name" class="img-responsive">
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Bajji Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.</div>
          </div>
		  </div>
          <div class="menu-item">
		  <div class="col-xs-3">
		  <img src="assets/img/dish-d1.png" alt="dish name" class="img-responsive">
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Falttened Rice Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.</div>
          </div>
		  </div>
		 
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
          <h2 class="menu-section-title">Healthy Munch</h2>
          <div class="menu-item">
            <div class="menu-item-name">Sprouts Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</div>
          </div>
          
          <div class="menu-item">
            <div class="menu-item-name">Corn Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Potato Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Tomato Munch</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
 <!--Test-->
 <div id="gallery">
  <div class="container-fluid">
   <div class="section-title text-center">
      <h2>Foodies</h2>
    </div>
    <div class="col-xs-12">
    <div class="carousel-container">
	<div id="slider-carousel" class="owl-carousel">
    <div class="item">
      <div class="hoverfx" >
        <div class="figure">
             Chana Munch is made with black chickpeas this tangy and spicy munch aids in weight loss, lowers cholesterol and helps to prevent diabetes.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img1.jpg" >
      </div>
      <h4>Chana Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
        Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron. 
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img2.jpg" >
      </div>
      <h4>Flattened Rice Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
		Loaded with cucumbers, this munch is extremely beneficial for overall health, especially during the summer.
	   </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img3.jpg" >
      </div>
      <h4>Cucumber Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img4.jpg" >
      </div>
      <h4>Potato Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
            Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img5.jpg" >
      </div>
      <h4>Sprouts Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
         A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img6.jpg" >
      </div>
      <h4>Corn Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img7.jpg" >
      </div>
      <h4>Tomato Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Mango Munch is packed with raw and yummy green mangoes, which is rich in Vitamin A and Vitamin E.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img8.jpg" >
      </div>
      <h4>Mango Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
         Puffed Rice Munch is made with murmure which are very light, low in fat,and contain a good amount of dietary fibre and iron.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img9.jpg" >
      </div>
      <h4>Puffed Rice Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img10.jpg" >
      </div>
      <h4>Cashew Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img11.jpg" >
      </div>
      <h4>Bajji Munch</h4>
      <h6>Sub heading</h6>
    </div>
  </div>
  <!--
  <div class="customNavigation">
    <a class="btn gray prev"><i class="icon ion-ios-arrow-left"></i></a>
    <a class="btn gray next"><i class="icon ion-ios-arrow-right"></i></a>
  </div>-->
  </div> 
        </div>
        </div>
      </div>
	   
<!-- Team Section -->
<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Why Munch ?</h2>
          </div>
          <p class="whyMunch">In an age old war between unhealthy and healthy food, unhealthy food has always won because of its pleasure to taste buds, variety, temptation and craving. On the other side, as its name explains, unhealthy food or junk foods are high in calories which lead to weight gain, lacks nutritional, contain added preservatives and so on.</p>
          <p class="whyMunch menu-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare. Duis sed dapibus leo nec ornare Duis sed dapibus leo nec ornare Duis sed dapibus leo nec ornare</p>
        
		<ul class="custom-bullet">
		<li> <a href="">Organic</a></li>
		<li> <a href="">Wellness</a></li>
		<li> <a href="">Crunchies</a></li>
		<li> <a href="">Quality System</a></li>
		</ul>
		</div>
      </div>
      <div class="col-md-6">
        <div class="team-img"><img src="assets/img/chef.jpg" alt="..."></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Orders</h3>
      <div class="contact-item">
        <p>Please call</p>
        <p>+91-987654321</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
		<p>Hushaar Pvt Ltd,</p>
        <p>#403,PNR SSV Complex,</p>
        <p>A S RAo Nagar, Secenderabad</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Opening Hours</h3>
      <div class="contact-item">
        <p>Mon-sat: 10:00 AM - 7:00 PM</p>
        <p>sat-Sun: 10:00 AM - 02:00 AM</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title text-center">
      <h3>Send us a message</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>

 <!--Footer-->
<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <p>&copy; 2017 Organic Bytes.</p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

 
</div>