<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
   <a class="navbar-brand page-scroll " href="#page-top"> <img alt="Logo" src="assets/img/Organic1.png"></a>
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features" class="page-scroll">Specials</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#team" class="page-scroll">Why Munch ?</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Organic Bytes</h1>
            <p>For Orders: +91-9876543210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Seasonal Specials</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Corn Masala</h3>
          <img src="assets/img/healthy munch/5.jpg" class="img-responsive" alt="">
          <p>A Spicy and Sweet all time much, Corn masala is super healthy, contains vitamin B6 and all the good acids necessary for body.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Sprouts Masala</h3>
          <img src="assets/img/healthy munch/3.jpg" class="img-responsive" alt="">
          <p>Sprouts-masala is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Tomato Masala</h3>
          <img src="assets/img/healthy munch/4.jpg" class="img-responsive" alt="">
          <p>opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our Story</h2>
          </div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Company Incorporated in 2016, to promote various health products including Food & Beverage range of items, have launched ‘ORGANIC BYTES’ a conceptual chain of stores, selling INDIAN Traditional Munch.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Just Munch</h2>
          <div class="menu-item">
            <div class="menu-item-name">Cashew Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Cashew Masala is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Peanut Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Loaded with protein and fiber rich roasted peanuts, this spicy yet tangy masala is just what you need to give your taste buds a treat.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Bajji Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Bajji Masala Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Falttened Rice Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Puffed Rice Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Puffed Rice Masala is made with murmure which are very light, low in fat,and contain a good amount of dietary fibre and iron.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Chana Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Chana Masala is made with black chickpeas this tangy and spicy munch aids in weight loss, lowers cholesterol and helps to prevent diabetes.</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
          <h2 class="menu-section-title">Seasonal Munch</h2>
          <div class="menu-item">
            <div class="menu-item-name">Sprouts Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Sprouts-masala is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Cucumber Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Loaded with cucumbers, this munch is  extremely beneficial for overall health, especially during the summer.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Mango Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Mango Masala is packed with raw and yummy green mangoes, which is rich in Vitamin A and Vitamin E.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Corn Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">A Spicy and Sweet all time much, Corn masala is super healthy, contains vitamin B6 and all the good acids necessary for body.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Potato Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Tomato Masala</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div id="gallery">
  <div class="container-fluid">
   <div class="section-title text-center">
      <h2>Foodies</h2>
    </div>
        <div class="col-xs-12">
          <div class="owl-carousel owl-theme">
            <div class="item" style="width:500px">
              <img src="assets/img/just munch/7.jpg" >
            </div>
			<div class="item" style="width:500px">
              <img src="assets/img/just munch/8.jpg" >
            </div>
			<div class="item" style="width:500px">
              <img src="assets/img/just munch/9.jpg" >
            </div>
			<div class="item" style="width:500px">
              <img src="assets/img/just munch/10.jpg" >
            </div>
			<div class="item" style="width:500px">
              <img src="assets/img/just munch/11.jpg" >
            </div>
			<div class="item" style="width:500px">
              <img src="assets/img/just munch/12.jpg" >
            </div>
            
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
              <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
            <div class="item" style="width:500px">
               <img src="assets/img/img1.jpg" >
            </div>
          </div>
         
        
        </div>
      </div>
	  </div>
 
<!-- Team Section -->
<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Why Munch ?</h2>
          </div>
          <p>In an age old war between unhealthy and healthy food, unhealthy food has always won because of its pleasure to taste buds, variety, temptation and craving. On the other side, as its name explains, unhealthy food or junk foods are high in calories which lead to weight gain, lacks nutritional, contain added preservatives and so on.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="team-img"><img src="assets/img/chef.jpg" alt="..."></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Orders</h3>
      <div class="contact-item">
        <p>Please call</p>
        <p>+91-987654321</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
        <p>#403,PNR SSV Complex,</p>
        <p>A S RAo Nagar, Secenderabad</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Opening Hours</h3>
      <div class="contact-item">
        <p>Mon-sat: 10:00 AM - 7:00 PM</p>
        <p>sat-Sun: 10:00 AM - 02:00 AM</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title text-center">
      <h3>Send us a message</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>

 <!--Footer-->
<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <p>&copy; 2017 Organic Bytes.</p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>