   	   
<!-- aboutUS Section -->
<div id="aboutUS" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>What Customer Tells About Us</h2>
    </div>
    <div class="row">
      
         <div class="container" > 
		 <div  style="text-align:left">
     <!-- List -->
		<h4>Comments:</h4>

   <ul>
      <li *ngFor="let item of reviewArray" >  
	  <cite class="clearfix"> {{item.email}}</cite>
  		<blockquote>
          {{item.comment}} 
          <cite class="clearfix pull-right"> — {{item.name}}</cite>
        </blockquote>
      </li>
    </ul>
<!--	<table  *ngFor="let item of reviewArray">
	<tr><th>{{item.email}}</th></tr>
	<tr><th><blockquote>{{item.comment}}</blockquote></th></tr>
	<tr><th> <cite class="clearfix pull-right"> — {{item.name}}</cite></th></tr>
	
	
	</table>  -->
 
	
	</div>
	</div>
    
      <form  >
	  <div class="conatiner">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" name="name" [(ngModel)] = "newReview.name" required/>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" name="email" [(ngModel)] = "newReview.email" required/>
               
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4"   placeholder="Message" name="comment" [(ngModel)] = "newReview.comment" required></textarea>
           
        </div>
       
        <input type="submit" class="btn btn-custom btn-lg" (click)="addFieldValue()" value="Post A comment"> 
      </div>
	
	  </form>
   
     
    
      
     
    </div>
  </div>
</div>
  

  <div class="container">
  <div class="row">
      <div id="map-outer" class="col-md-12">
          <div id="address" class="col-md-4">
            <h2>Our Location</h2>
            <address>
            <strong> Hushaar Pvt Ltd,</strong><br>
                #403,PNR SSV Complex,<br>
                DR.A.S.RAO Nagar,Secendrabad<br>
                
                <abbr>P:</abbr>  040-42200224.
           </address>
          </div>
          
      <div class="col-md-8 "> 
<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3200.0485463976593!2d78.55664432476186!3d17.48264969657773!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf20d8d28ef0b11b9!2sUtkrishta+Consultancy+%26+Advisory+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1515414347241" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>   
   -->
   <iframe src="https://www.google.com/maps/d/embed?mid=1DTfkqCrCwg16DwDV9A6TCm8kDLo" width="100%" height="480"></iframe>
   </div>
      </div><!-- /map-outer -->
  </div> <!-- /row -->

</div><!-- /container -->
 




