 

<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
        <div class="menu-section">
          <h2 class="menu-section-title">Just Munch</h2>
        
		
<!--

		<div class="menu-item ">
		  <div class="col-xs-3">
		  <a href="assets/img/Cropped/img10.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy. ">
			<img src="assets/img/Cropped/img10.jpg" class="img-responsive">
				</a>
		
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Cashew</div>
            <div class="menu-item-price">₹ 100</div>
            <div class="menu-item-description">Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.</div>
          </div>
		  </div>
		   
          <div class="menu-item">
		  <div class="col-xs-3">
		  <a href="assets/img/Cropped/img6.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Loaded with protein and fiber rich roasted peanuts, this spicy yet tangy masala is just what you need to give your taste buds a treat.">
			<img src="assets/img/Cropped/img6.jpg" class="img-responsive">
				</a>
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Peanut</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Loaded with protein and fiber rich roasted peanuts, this spicy yet tangy masala is just what you need to give your taste buds a treat.</div>
          </div>
		  
		  </div>
          <div class="menu-item">
		  <div class="col-xs-3">
		  <a href="assets/img/Cropped/img11.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.">
			<img src="assets/img/Cropped/img11.jpg" class="img-responsive">
				</a>
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Bajji</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.</div>
          </div>
		  </div>
          <div class="menu-item">
		  <div class="col-xs-3">
		    <a href="assets/img/Cropped/img2.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img2.jpg" class="img-responsive">
				</a>
          </div>
		  <div class="col-xs-9">
            <div class="menu-item-name">Falttened Rice</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.</div>
          </div>
		  </div>
		  
		  
		  -->
		  
		   <div class="tab-content">
			<ul class ="media-list tab-pane fade in active" >
			<li class="media">
			
			<div class="media-left media-middle">
		
			  <a href="assets/img/Cropped/img10.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img10.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Cashew
			<span class="badge" style="float:right">₹ 100</span></h3>
			<p class="menu-item-description">Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.</p>
		 
			</div>
			</li>
			 <li class="media">
			<div class="media-left media-middle">
			  <a  href="assets/img/Cropped/img6.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img6.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Peanut
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Loaded with protein and fiber rich roasted peanuts, this spicy yet tangy masala is just what you need to give your taste buds a treat.</p>
		  	</div>
			</li>
			
			 <li class="media">
			
			<div class="media-left media-middle">
		
			  <a  href="assets/img/Cropped/img11.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img11.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Bajji 
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.</p>
		   
			</div>
			</li>
			 
			 <li class="media">
			<div class="media-left media-middle">
			  <a  href="assets/img/Cropped/img2.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img2.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Falttened Rice 
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.</p>
		   
			</div>
			</li>
			
            </ul>
			
		 </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
          <h2 class="menu-section-title">Healthy Munch</h2>
          
		  <!--
		  <div class="menu-item">
            <div class="menu-item-name">Sprouts</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</div>
          </div>
          
          <div class="menu-item">
            <div class="menu-item-name">Corn</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Potato</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.</div>
          </div>
		  <div class="menu-item">
            <div class="menu-item-name">Tomato</div>
            <div class="menu-item-price">₹ 50</div>
            <div class="menu-item-description">opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</div>
          </div>
		  
		  -->
		  
		  <div class="tab-content">
			<ul class ="media-list tab-pane fade in active" >
			
			<li class="media">
			<div class="media-left media-middle">
			  <a href="assets/img/Cropped/img5.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img5.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Sprouts
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</p>
			</div>
			</li>
			
			 <li class="media">
			<div class="media-left media-middle">
			  <a  href="assets/img/Cropped/img6.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img6.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			
			
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Corn
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.</p>
		  	</div>
			</li>
			
			
			 <li class="media">
			<div class="media-left media-middle">
			  <a  href="assets/img/Cropped/img4.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img4.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Potato 
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.</p>
		   
			</div>
			</li>
			
			 <li class="media">
			<div class="media-left media-middle">
			  <a  href="assets/img/Cropped/img7.jpg" data-toggle="lightbox" data-title="Cashew Munch" data-footer="Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron.">
			<img src="assets/img/Cropped/img7.jpg" style="width:120px;height:120px" class="media-object img-thumbnail img-responsive">
				</a>
			</div>
			 
			<div class="media-body" style="padding-left: 15px;">
			<h3 class="media-heading">Tomato
			<span class="badge" style="float:right">₹ 50</span></h3>
			<p class="menu-item-description">Chopped raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</p>
			</div>
			</li>
            </ul>
			</div>
        </div>
      </div>
    </div> 
  </div>
  </div>