
            <!-- Hero Section -->
            <section id="hero" class="hero">
                <div id="slider" class="sl-slider-wrapper">

                    <div class="sl-slider">
                        <!-- slide -->
                        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner" style="background-image: url(assets/img/hero4.jpg);">
                                <div class="container">
                                    <h2>This is <span class="text-primary">Seasonal Snackies</span></h2>
                                    <h1>Natural Snacks</h1>
                                    <p>A Rich Organic Foods<a href="#" target="_blank">Organic Bytes</a>.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                            <div class="sl-slide-inner" style="background-image: url(assets/img/hero5.jpg);">
                                <div class="container">
                                    <h1>lorem ipsum dolor sit amit</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner" style="background-image: url(assets/img/hero6.jpg);">
                                <div class="container">
                                    <h2>Visit <span class="text-primary">italiano restaurant</span></h2>
                                    <h1>lorem ipsum dolor sit amit</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div> 
					
                    <nav id="nav-dots" class="nav-dots">
                        <span class="nav-dot-current"></span>
                        <span></span>
                        <span></span>
                    </nav>
 
                    <a id="scroll-down" href="#features" class="hidden-xs"></a>

                   
                    <div class="social">
                        <div class="wrapper">
                            <ul class="list-unstyled">
                                <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <span>Follow us on</span>
                        </div>
                    </div>
                </div> 
            </section> 
 
          
<!-- Model
    ==========================================-->
<div id="modal-content" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="padding-left:  45px; background-color: #3f3e3700;">
           
            <div class="modal-body container text-center" style="margin-top: 100px;"> 
                   
                
                        <div class="col-sm-5">
                            <div class="items">
						 <button type="button" class="close" data-dismiss="modal">×</button>
                                <div class="discount">
                                    <span>10% <br> Off</span>
                                </div>
                                <div class="profile">
                                    <img src="assets/img/dish-d.png" alt="dish name" class="img-responsive">
                                </div>
                                <div class="text">
                                    <h4>Peanut Munch</h4>
                                    <p class="after text-primary text-large">₹50.00</p>
                                    <p class="before text-muted text-large">₹75.00</p>
                                </div>
                            </div>
                        </div>
			</div>
        </div>
    </div>
</div>


<div id="page-top">
<!-- 
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
   <a class="navbar-brand page-scroll " href="#page-top"> <img alt="Logo" src="assets/img/Organic1.png"></a>
  
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    
     
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features" class="page-scroll">Specials</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#team" class="page-scroll">Why Munch ?</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
		<li><a href="#" class="btn navbar-btn btn-unique hidden-sm hidden-xs" id="open-reservation"> Login</a></li>
         
	</ul>
    </div>
    
  </div>
</nav>


 
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Organic Bytes</h1>
            <p>For Orders: +91-9876543210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
-->
 
 
	   
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Why Organic?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Corn Munch</h3>
          <img src="assets/img/healthy munch/5.jpg" class="img-responsive" alt="">
          <p class="sspl">A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Sprouts Munch</h3>
          <img src="assets/img/healthy munch/3.jpg" class="img-responsive" alt="">
          <p class="sspl">Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Tomato Munch</h3>
          <img src="assets/img/healthy munch/4.jpg" class="img-responsive" alt="">
          <p class="sspl">opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our Story</h2>
          </div>
          <p class="abtContent">A Company Incorporated in 2016, to promote various health products including Food & Beverage range of items, have launched ‘ORGANIC BYTES’ a conceptual chain of stores, selling INDIAN Traditional Munch.</p>
          <p class="menu-item-description abtContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
	 
		<ul class="custom-bullet">
		<li> <a href="">Promoters</a></li>
		<li> <a href="">Business Process</a></li>
		<li> <a href="">Franchise Model</a></li>
		<li> <a href="">R&D </a></li>
		
		</ul>
			
		</div>
      </div>
    </div>
  </div>
</div>
 
 



 <!--Test
 <div id="gallery">
  <div class="container-fluid">
   <div class="section-title text-center">
      <h2>Foodies</h2>
    </div>
    <div class="col-xs-12">
    <div class="carousel-container">
	<div id="slider-carousel" class="owl-carousel">
    <div class="item">
      <div class="hoverfx" >
        <div class="figure">
             Chana Munch is made with black chickpeas this tangy and spicy munch aids in weight loss, lowers cholesterol and helps to prevent diabetes.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img1.jpg" >
      </div>
      <h4>Chana Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
        Roasted flattened rice being the key ingredient, makes this munch very light, low in fats, accompanied with good amount of fibre and iron. 
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img2.jpg" >
      </div>
      <h4>Flattened Rice Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
		Loaded with cucumbers, this munch is extremely beneficial for overall health, especially during the summer.
	   </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img3.jpg" >
      </div>
      <h4>Cucumber Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Though slightly more in calories this dish fulfills your daily Vitamin C, Vitamin B6 and Potassium requirements.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img4.jpg" >
      </div>
      <h4>Potato Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
            Sprouts-Munch is bursting with green gram sprouts which are highly rich in dietary fibre, protein, iron and calcium.
        </div>
        <div class="overlay">
        </div>
        <img src="assets/img/Cropped/img5.jpg" >
      </div>
      <h4>Sprouts Munch</h4>
      <h6>Sub heading</h6>
    </div>
    <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
         A Spicy and Sweet all time much, Corn Munch is super healthy, contains vitamin B6 and all the good acids necessary for body.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img6.jpg" >
      </div>
      <h4>Corn Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          opped with raw vegetables, spices and crisps,giving a real delight to the taste buds with a crunchy, spicy, savory and tangy taste.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img7.jpg" >
      </div>
      <h4>Tomato Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Mango Munch is packed with raw and yummy green mangoes, which is rich in Vitamin A and Vitamin E.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img8.jpg" >
      </div>
      <h4>Mango Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
         Puffed Rice Munch is made with murmure which are very light, low in fat,and contain a good amount of dietary fibre and iron.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img9.jpg" >
      </div>
      <h4>Puffed Rice Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Cashew Munch is street-foodie’s favorite munch might not be very diet friendly but helps keeps your heart,bones and nerves healthy.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img10.jpg" >
      </div>
      <h4>Cashew Munch</h4>
      <h6>Sub heading</h6>
    </div>
	  <div class="item">
      <div class="hoverfx" href="#">
        <div class="figure">
          Bajji Munch Specially made with a Andhra famous street food stuffed chilli bajji locally called Mirapakaya Bajji.
        </div>
        <div class="overlay">
        </div>
       <img src="assets/img/Cropped/img11.jpg" >
      </div>
      <h4>Bajji Munch</h4>
      <h6>Sub heading</h6>
    </div>
  </div>
  <!--
  <div class="customNavigation">
    <a class="btn gray prev"><i class="icon ion-ios-arrow-left"></i></a>
    <a class="btn gray next"><i class="icon ion-ios-arrow-right"></i></a>
  </div>
  </div> 
        </div>
        </div>
      </div>
	   -->
	   
	   
<!--Carousel with text-->
<div class="container-fluid">
   <div class="section-title text-center">
      <h2>Events</h2>
    </div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
  <div class="holder col-sm-8">
    <img class="img-responsive" src="assets/img/banner1.png" alt="banner1">
  </div>
  <div class="col-sm-4">
    <div class="carousel-caption">
        <h2>Slide 1</h2>
        <p class="whyMunch">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
          
    </div>
  </div>
</div>
<div class="item">
  <div class="holder col-sm-8">
    <img class="img-responsive" src="assets/img/banner2.png" alt="Banner2">
  </div>
  <div class="col-sm-4">
    <div class="carousel-caption">
        <h2>Slide 2</h2>
        <p class="whyMunch">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
             
    </div>
  </div>
</div>
<div class="item">
  <div class="holder col-sm-8">
    <img class="img-responsive" src="assets/img/banner3.png" alt="Banner3">
  </div>
  <div class="col-sm-4">
    <div class="carousel-caption">
        <h2>Slide 3</h2>
        <p class="whyMunch">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
        <!-- <button type="button" class="btn btn-default">Default</button>      -->
    </div>
  </div>
</div>
</div>
<div class="controllers col-sm-8 col-xs-12">
<!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> 
</div>
</div>

</div>
 

<!-- Team Section -->
<!--
<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Why Munch ?</h2>
          </div>
          <p class="whyMunch">In an age old war between unhealthy and healthy food, unhealthy food has always won because of its pleasure to taste buds, variety, temptation and craving. On the other side, as its name explains, unhealthy food or junk foods are high in calories which lead to weight gain, lacks nutritional, contain added preservatives and so on.</p>
          <p class="whyMunch menu-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare. Duis sed dapibus leo nec ornare Duis sed dapibus leo nec ornare Duis sed dapibus leo nec ornare</p>
        
		<ul class="custom-bullet">
		<li> <a href="">Organic</a></li>
		<li> <a href="">Wellness</a></li>
		<li> <a href="">Crunchies</a></li>
		<li> <a href="">Quality System</a></li>
		</ul>
		</div>
      </div>
      <div class="col-md-6">
        <div class="team-img"><img src="assets/img/chef.jpg" alt="..."></div>
      </div>
    </div>
  </div>
</div>

-->
 <section id="details" class="details">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="heading text-center">
                                <p>Call Us Now For</p>
                                <h5>Home Delivery</h5>
                            </div>
                            <a href="tel:9870988764" class="phone">91-9876 543 210</a>
                        </div>

                        <div class="col-sm-6">
                            <div class="heading text-center">
                                <p>Check Our Clients'</p>
                                <h5>Rating &amp; Reviews</h5>
                            </div>
                            <a href="#" class="reviews btn-unique"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
 
</div>  


